<div class="clearfix">
	<div class="col-xs-6 p-xs">
		<div class="panel panel-default">
			<div class="panel-heading text-center">数据显示</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-6 text-center">
						<%=image_tag"power-cabinet.png",width:"80%"%>
					</div>                                                                
					<div class="col-xs-6"> 
						<div class="table-responsive cabinet-table">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th colspan="2">输出</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th scope="row">总有功功率</th>
										<td>230.4</td>
									</tr>
									<tr>
										<th scope="row">总无关功率</th>
										<td>232.1</td>
									</tr>
									<tr>
										<th scope="row">功率因数</th>
										<td>230.4</td>
									</tr>
									<tr>
										<th scope="row">频率</th>
										<td>230.4</td>
									</tr>
									<tr>
										<th scope="row">电度</th>
										<td>230.4</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-6 p-xs">
		<div class="panel panel-default">
			<div class="panel-heading text-center">输出负载率</div>
			<div class="panel-body">
				<div class="col-xs-4">
					<div id="load1" style="height:134px"></div>
				</div>
				<div class="col-xs-4">
					<div id="load2" style="height:134px"></div>
				</div>
				<div class="col-xs-4">
					<div id="load3" style="height:134px"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="clearfix">
	<div class="col-xs-6 p-xs">
		<div class="panel panel-default">
			<div class="panel-heading text-center">功率</div>
			<div class="panel-body"></div>
		</div>
	</div>
	<div class="col-xs-6 p-xs">
		<div class="panel panel-default">
			<div class="panel-heading text-center">电压</div>
			<div class="panel-body"></div>
		</div>
	</div>
</div>
	
<script type="text/javascript">
        // 路径配置
        require.config({
        	paths: {
        		echarts: '/assets/echarts'
        	}
        });
        
        // 使用
        require(
        	[
        	'echarts',
                'echarts/chart/pie' // 使用柱状图就加载bar模块，按需加载
                ],
                function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('load1')); 
                
                var var dataStyle = {
    normal: {
        label: {show:false},
        labelLine: {show:false}
    }
};
var placeHolderStyle = {
    normal : {
        color: 'rgba(0,0,0,0)',
        label: {show:false},
        labelLine: {show:false}
    },
    emphasis : {
        color: 'rgba(0,0,0,0)'
    }
};
option = {
    title: {
        text: '你幸福吗？',
        subtext: 'From ExcelHome',
        sublink: 'http://e.weibo.com/1341556070/AhQXtjbqh',
        x: 'center',
        y: 'center',
        itemGap: 20,
        textStyle : {
            color : 'rgba(30,144,255,0.8)',
            fontFamily : '微软雅黑',
            fontSize : 35,
            fontWeight : 'bolder'
        }
    },
    tooltip : {
        show: true,
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        orient : 'vertical',
        x : document.getElementById('load1').offsetWidth / 2,
        y : 45,
        itemGap:12,
        data:['68%的人表示过的不错','29%的人表示生活压力很大','3%的人表示“我姓曾”']
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    series : [
        {
            name:'1',
            type:'pie',
            clockWise:false,
            radius : [125, 150],
            itemStyle : dataStyle,
            data:[
                {
                    value:68,
                    name:'68%的人表示过的不错'
                },
                {
                    value:32,
                    name:'invisible',
                    itemStyle : placeHolderStyle
                }
            ]
        },
        {
            name:'2',
            type:'pie',
            clockWise:false,
            radius : [100, 125],
            itemStyle : dataStyle,
            data:[
                {
                    value:29, 
                    name:'29%的人表示生活压力很大'
                },
                {
                    value:71,
                    name:'invisible',
                    itemStyle : placeHolderStyle
                }
            ]
        },
        {
            name:'3',
            type:'pie',
            clockWise:false,
            radius : [75, 100],
            itemStyle : dataStyle,
            data:[
                {
                    value:3, 
                    name:'3%的人表示“我姓曾”'
                },
                {
                    value:97,
                    name:'invisible',
                    itemStyle : placeHolderStyle
                }
            ]
        }
    ]
};
                    
                // 为echarts对象加载数据 
                myChart.setOption(option); 
              }
              );
</script>