<div class="temperature">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <h2><%= "温度" %></h2>
      </div>
    </div>
  </div>

  <div class="col-md-12 content">
    <%=image_tag "temperature.png", width: "100%", id: 'temperatureImg'%>
    <div class="data text-center show1">
      <div>99&#8451;</div>
      <div>22%</div>
    </div>

    <div class="data text-center show2">
      <div>99&#8451;</div>
      <div>22%</div>
    </div>

    <div class="data text-center show3">
      <div>99&#8451;</div>
      <div>22%</div>
    </div>

    <div class="data text-center show4">
      <div>99&#8451;</div>
      <div>22%</div>
    </div>

    <div class="data text-center show5">
      <div>99&#8451;</div>
      <div>22%</div>
    </div>

    <div class="data text-center show6">
      <div>99&#8451;</div>
      <div>22%</div>
    </div>

    <div class="data text-center show7">
      <div>99&#8451;</div>
      <div>22%</div>
    </div>

    <div class="data text-center show8">
      <div>99&#8451;</div>
      <div>22%</div>
    </div>

    <div class="data text-center show9">
      <div>99&#8451;</div>
      <div>22%</div>
    </div>

    <div class="data text-center show10">
      <div>99&#8451;</div>
      <div>22%</div>
    </div>

    <div class="data text-center show11">
      <div>99&#8451;</div>
      <div>22%</div>
    </div>

    <div class="data text-center show12">
      <div>99&#8451;</div>
      <div>22%</div>
    </div>

    <div class="data text-center show13">
      <div>99&#8451;</div>
      <div>22%</div>
    </div>

    <div class="data text-center show14">
      <div>99&#8451;</div>
      <div>22%</div>
    </div>

    <div class="data text-center show15">
      <div>99&#8451;</div>
      <div>22%</div>
    </div>

    <div class="data text-center show16">
      <div>99&#8451;</div>
      <div>22%</div>
    </div>

    <div class="data text-center show17">
      <div>99&#8451;</div>
      <div>22%</div>
    </div>

    <div class="data text-center show18">
      <div>99&#8451;</div>
      <div>22%</div>
    </div>

    <div class="data text-center show19">
      <div>99&#8451;</div>
      <div>22%</div>
    </div>

    <div class="data text-center show20">
      <div>99&#8451;</div>
      <div>22%</div>
    </div>

    <div class="data text-center show21">
      <div>99&#8451;</div>
      <div>22%</div>
    </div>

    <div class="data text-center show22">
      <div>99&#8451;</div>
      <div>22%</div>
    </div>

    <div class="data text-center show23">
      <div>99&#8451;</div>
      <div>22%</div>
    </div>

    <div class="data text-center show24">
      <div>99&#8451;</div>
      <div>22%</div>
    </div>
  </div>
</div>

