<div class="container">
	<div class="row">
		<div class="col-xs-8">
			<div class="mblock">
				<div class="row">
					<div class="col-xs-3">

					</div>
					<div class="col-xs-9">
					<%=image_tag"power-ups1.jpg",width:"80%"%>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="row">
				<div class="col-xs-12  mblock">
					<h4>输出负载率</h4>

				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 mblock">
					hello
				</div>
			</div>
		</div>
	</div>
</div>