<div class="cold-wind">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h3><%= "风冷冷水机组系统" %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <table class="table table-bordered">
              <tr>
                <th colspan="2" class="text-center">Slaver1状态告警</th>
              </tr>
              <tr>
                <td width="50%">
                  <i class="fa fa-circle"></i>&nbsp;&nbsp;压缩机1过载
                </td>
                <td width="50%"><i class="fa fa-circle"></i>&nbsp;&nbsp;压缩机变频1告警</td>
              </tr>
              <tr>
                <td><i class="fa fa-circle"></i>&nbsp;&nbsp;压缩机2过载</td>
                <td><i class="fa fa-circle"></i>&nbsp;&nbsp;压缩机变频2告警</td>
              </tr>
              <tr>
                <td><i class="fa fa-circle"></i>&nbsp;&nbsp;水压差1告警</td>
                <td><i class="fa fa-circle"></i>&nbsp;&nbsp;排气压力传感器1故障</td>
              </tr>
              <tr>
                <td><i class="fa fa-circle"></i>&nbsp;&nbsp;水压差2告警</td>
                <td><i class="fa fa-circle"></i>&nbsp;&nbsp;排气压力传感器2故障</td>
              </tr>
              <tr>
                <td><i class="fa fa-circle"></i>&nbsp;&nbsp;通讯故障</td>
                <td><i class="fa fa-circle"></i>&nbsp;&nbsp;吸气压力传感器1故障</td>
              </tr>
              <tr>
                <td><i class="fa fa-circle"></i>&nbsp;&nbsp;扩展板卡故障</td>
                <td><i class="fa fa-circle"></i>&nbsp;&nbsp;吸气压力传感器2故障</td>
              </tr>
            </table>

            <table class="table table-bordered">
              <tr>
                <th colspan="2" class="text-center">Slaver2状态告警</th>
              </tr>
              <tr>
                <td width="50%">
                  <i class="fa fa-circle"></i>&nbsp;&nbsp;压缩机1过载
                </td>
                <td width="50%"><i class="fa fa-circle"></i>&nbsp;&nbsp;压缩机变频1告警</td>
              </tr>
              <tr>
                <td><i class="fa fa-circle"></i>&nbsp;&nbsp;压缩机2过载</td>
                <td><i class="fa fa-circle"></i>&nbsp;&nbsp;压缩机变频2告警</td>
              </tr>
              <tr>
                <td><i class="fa fa-circle"></i>&nbsp;&nbsp;水压差1告警</td>
                <td><i class="fa fa-circle"></i>&nbsp;&nbsp;排气压力传感器1故障</td>
              </tr>
              <tr>
                <td><i class="fa fa-circle"></i>&nbsp;&nbsp;水压差2告警</td>
                <td><i class="fa fa-circle"></i>&nbsp;&nbsp;排气压力传感器2故障</td>
              </tr>
              <tr>
                <td><i class="fa fa-circle"></i>&nbsp;&nbsp;通讯故障</td>
                <td><i class="fa fa-circle"></i>&nbsp;&nbsp;吸气压力传感器1故障</td>
              </tr>
              <tr>
                <td><i class="fa fa-circle"></i>&nbsp;&nbsp;扩展板卡故障</td>
                <td><i class="fa fa-circle"></i>&nbsp;&nbsp;吸气压力传感器2故障</td>
              </tr>
            </table>

            <table class="table table-bordered">
              <tr>
                <th colspan="2" class="text-center">Slaver3状态告警</th>
              </tr>
              <tr>
                <td width="50%">
                  <i class="fa fa-circle"></i>&nbsp;&nbsp;压缩机1过载
                </td>
                <td width="50%"><i class="fa fa-circle"></i>&nbsp;&nbsp;压缩机变频1告警</td>
              </tr>
              <tr>
                <td><i class="fa fa-circle"></i>&nbsp;&nbsp;压缩机2过载</td>
                <td><i class="fa fa-circle"></i>&nbsp;&nbsp;压缩机变频2告警</td>
              </tr>
              <tr>
                <td><i class="fa fa-circle"></i>&nbsp;&nbsp;水压差1告警</td>
                <td><i class="fa fa-circle"></i>&nbsp;&nbsp;排气压力传感器1故障</td>
              </tr>
              <tr>
                <td><i class="fa fa-circle"></i>&nbsp;&nbsp;水压差2告警</td>
                <td><i class="fa fa-circle"></i>&nbsp;&nbsp;排气压力传感器2故障</td>
              </tr>
              <tr>
                <td><i class="fa fa-circle"></i>&nbsp;&nbsp;通讯故障</td>
                <td><i class="fa fa-circle"></i>&nbsp;&nbsp;吸气压力传感器1故障</td>
              </tr>
              <tr>
                <td><i class="fa fa-circle"></i>&nbsp;&nbsp;扩展板卡故障</td>
                <td><i class="fa fa-circle"></i>&nbsp;&nbsp;吸气压力传感器2故障</td>
              </tr>
            </table>
          </div>

          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6">
                <%= image_tag "cold-wind.gif", style: "width: 100%; padding-top: 48%;" %>
              </div>
              <div class="col-md-6">
                <table class="table table-bordered">
                  <tr>
                    <th class="text-center">Slaver1</th>
                    <th class="text-center">Slaver2</th>
                  </tr>
                  <tr>
                    <td width="50%">冷冻水出水温度1：AAAA</td>
                    <td width="50%">冷冻水出水温度1：AAAA</td>
                  </tr>
                  <tr>
                    <td>冷冻水出水温度2：AAAA</td>
                    <td>冷冻水出水温度2：AAAA</td>
                  </tr>
                  <tr>
                    <td>冷凝风机转速1：AAAA</td>
                    <td>冷凝风机转速1：AAAA</td>
                  </tr>
                  <tr>
                    <td>冷凝风机转速2：AAAA</td>
                    <td>冷凝风机转速2：AAAA</td>
                  </tr>
                  <tr>
                    <td>变频压缩机输出1：AAAA</td>
                    <td>变频压缩机输出1：AAAA</td>
                  </tr>
                  <tr>
                    <td>变频压缩机输出2：AAAA</td>
                    <td>变频压缩机输出2：AAAA</td>
                  </tr>
                </table>
                <table class="table table-bordered">
                  <tr>
                    <th class="text-center">Slaver3</th>
                    <th class="text-center">系统</th>
                  </tr>
                  <tr>
                    <td width="50%">冷冻水出水温度1：AAAA</td>
                    <td width="50%">冷冻水出水温度1：AAAA</td>
                  </tr>
                  <tr>
                    <td>冷冻水出水温度2：AAAA</td>
                    <td>冷冻水出水温度2：AAAA</td>
                  </tr>
                  <tr>
                    <td>冷凝风机转速1：AAAA</td>
                    <td>冷凝风机转速1：AAAA</td>
                  </tr>
                  <tr>
                    <td>冷凝风机转速2：AAAA</td>
                    <td>冷凝风机转速2：AAAA</td>
                  </tr>
                  <tr>
                    <td>变频压缩机输出1：AAAA</td>
                    <td>变频压缩机输出1：AAAA</td>
                  </tr>
                  <tr>
                    <td>变频压缩机输出2：AAAA</td>
                    <td>变频压缩机输出2：AAAA</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <table class="table table-bordered table-bottom">
                  <tr>
                    <th colspan="4" class="text-center"></th>
                  </tr>
                  <tr>
                    <td width="25%"><i class="fa fa-circle green"></i>&nbsp;&nbsp;电源故障</td>
                    <td width="25%"><i class="fa fa-circle green"></i>&nbsp;&nbsp;自然冷冻水进水低温</td>
                    <td width="25%"><i class="fa fa-circle green"></i>&nbsp;&nbsp;自然冷却电源故障</td>
                    <td width="25%"><i class="fa fa-circle green"></i>&nbsp;&nbsp;自然冷却阀故障</td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-circle green"></i>&nbsp;&nbsp;水流量告警</td>
                    <td><i class="fa fa-circle green"></i>&nbsp;&nbsp;自然冷冻水进水低温</td>
                    <td><i class="fa fa-circle green"></i>&nbsp;&nbsp;自然冷却阀开启告警1</td>
                    <td><i class="fa fa-circle green"></i>&nbsp;&nbsp;自然冷却阀开启告警2</td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-circle green"></i>&nbsp;&nbsp;滤网压差告警</td>
                    <td><i class="fa fa-circle green"></i>&nbsp;&nbsp;自然冷冻流量丢失</td>
                    <td><i class="fa fa-circle green"></i>&nbsp;&nbsp;自然冷却阀开启告警1</td>
                    <td><i class="fa fa-circle green"></i>&nbsp;&nbsp;自然冷却阀开启告警2</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
</div>