<div id="modal-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
                <h3 class="text-center">显示状态编辑</h3>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form role="form">
                            <table class="table table-hover">
                                <thead>
                                <tr class="form-group">
                                    <th>二级菜单参数显示情况</th>
                                    <th>二级菜单参数显示情况</th>
                                    <th>二级菜单参数显示情况</th>
                                    <th>二级菜单参数显示情况</th>
                                    <th>二级菜单参数显示情况</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="form-group">
                                    <td><input type="checkbox" class="js-switch1" checked /></td>
                                    <td><input type="checkbox" class="js-switch1" checked /></td>
                                    <td><input type="checkbox" class="js-switch1"/></td>
                                    <td><input type="checkbox" class="js-switch1" checked /></td>
                                    <td><input type="checkbox" class="js-switch1"/></td>
                                </tr>
                                </tbody>
                            </table>
                            <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>提交</strong></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>