<div class="temperature">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <h2><%= device.name %></h2>
      </div>
    </div>
  </div>

  <div class="col-md-12 content">
    <% if @attachment.present? && @attachment.image.present? %>
      <%=image_tag @attachment.image_url(:w_640), id: 'temperatureImg'%>
    <% else %>
      <h3 class="text-center text-danger" style="height: 100px; line-height: 100px;">暂无设备配置图片，请联系管理员上传!</h3>
    <% end %>

    <!-- 告警信息：数值 -->
    <%= render partial: "devices/share/warn_info_num", locals: { points: @points, points_key: '温湿度' } %>  
    <%= render partial: "devices/share/warn_info_icon", locals: { points: @points, points_key: '告警' } %>  
    
  </div>
</div>

