<div class="input-group" style="width: 100%;">
      <select data-placeholder="机房(多选)" class="chosen-select" multiple style="width:100%;" tabindex="4">
            <option value="">所有机房</option>
            <option value="United States">机房1</option>
            <option value="United Kingdom">机房2</option>
            <option value="Afghanistan">机房3</option>
      </select>
</div>
<br>
<script>
      var config = {
            '.chosen-select'           : {},
            '.chosen-select-deselect'  : {allow_single_deselect:true},
            '.chosen-select-no-single' : {disable_search_threshold:10},
            '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
            '.chosen-select-width'     : {width:"90%"}
      }
      for (var selector in config) {
            $(selector).chosen(config[selector]);
      }
</script>