<div class="clearfix weitu" id="refresh-data" data-url="<%=refresh_data_room_device_path(@room, @device)%>">
  <%= render partial: "devices/detail/refresh", locals: {exclude_points: @exclude_points} %>
</div>

<script type="text/javascript">
  var url = $("#refresh-data").data('url');
  function refreshPartial() {
    $.ajax({
      url: url
   })
  }
  setInterval(refreshPartial, 15000)
</script>