<div class="col-xs-12 p-xs text-center fadeInRightBig">
  <div class="panel panel-default">
    <div class="panel-heading">空调实时数据</div>
    <div class="panel-body">
      <div class="clearfix weitu" id="refresh-data" data-url="<%=refresh_data_room_device_path(@room, @device)%>">
        <%= render partial: "devices/detail/refresh", locals: {exclude_points: @exclude_points} %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var url = $("#refresh-data").data('url');
  function refreshPartial() {
    $.ajax({
      url: url
    })
  }
  setInterval(refreshPartial, 15000)
</script>
