<div class="fire">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <h2><%= device.name %></h2>
      </div>
    </div>
  </div>

  <div class="col-md-12 content">
    <% if @attachment.present? && @attachment.image.present? %>
       <%=image_tag @attachment.image, width: "100%", id: 'temperatureImg'%>
    <% else %>
      <h3 class="text-center text-danger" style="height: 100px; line-height: 100px;">暂无设备配置图片，请联系管理员上传!</h3>
    <% end %>

    <div class="panel panel-default panel3 warn-info">
      <div class="panel-heading">漏水</div>
      <div class="panel-body">
        <div class="">
          <% @points["其他"].keys.each_with_index do |key, index| %>
            <% if index % 4 == 0 %>
              <div class="air_d_grey col-sm-3" align="left">
            <% end %>
              <div class="info-row" style="overflow:hidden;">
                <span class="warning-name"><%= key %></span>
                <span class="warning-icon"><%= warning_status @points["其他"][key] %></span>
              </div><br>
            <% if index%4 == 3 %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

