<div class="fire">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <h2><%= device.name %></h2>
      </div>
    </div>
  </div>

  <div class="col-md-12 content">
    <div class="status">火灾消防状态：<span class="text-success">正常</span></div>
    <%=image_tag "temperature.png", width: "100%", id: 'temperatureImg'%>

    <% (1..@points["其他"].size).each do |i| %>
      <% unless exclude_points["其他"] && exclude_points["其他"].include?("烟感#{i}")  %>
        <div class="data text-center show<%= i %>">
          <i class="fa fa-circle <%= circle_color(@points["其他"]["烟感#{i}"]) %>"></i>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

