<!-- 配电柜|配电系统，表格复用模块 -->
<div class="clearfix">
  <div class="col-xs-12 p-xs">
    <div class="mblock">
      <h2 class="text-center text-muted"><%= device.name %></h2>
      <div class="table-responsive my-table  my-left">
        <table class="table table-bordered">
          <thead>
            <tr>
            <th colspan="2"><%= device.pattern.name %></th>
            </tr>
          </thead>
          <tbody>
            <% points.keys.each do |group| %>
              <% points[group].each do |p, v| %>
                <tr>
                  <th scope="row"><%= p %></th>
                  <td class="unit"><%= v %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>