<!-- 配电柜|配电系统，表格复用模块 -->
<div class="clearfix">
  <div class="col-xs-12 p-xs">
    <div class="mblock">
      <h2 class="text-center text-muted"><%= device.name %></h2>
      <div class="table-responsive my-table  my-left">
        <div class="row">
          <%= device.pattern.name %>
        </div>
        <div class="row">
          <% points.keys.each do |group| %>
            <% points[group].each do |p, v| %>
              <div class="col-xs-3">
                <%= p %>
              </div>
              <div class="col-xs-3">
                <%= v %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
