<!-- 配电柜|配电系统，表格复用模块 -->
<div class="clearfix">
  <div class="col-xs-12 p-xs">
    <div class="mblock">
      <h2 class="text-center text-muted"><%= device.name %></h2>
      <div class="table-responsive my-table  my-left">
        <table class="table table-bordered">
          <thead>
            <tr>
            <th colspan="5"><%= device.pattern.name %></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>名称</td>
              <td>有功功率</td>
              <td>电压</td>
              <td>电流</td>
              <td>频率</td>
            </tr>
            <% points.keys.each do |group| %>
              <% unless group.eql?('其他') %>
                <tr>
                  <td><%= group %></td>
                <% points[group].each do |p, v| %>
                    <td class="unit"><%= v %></td>
                <% end %>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
