<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="2" class="text-center"><%= title %></th>
    </tr>
  </thead>
  <tbody>
    <% points["#{key}"].each do |k, v| %>
      <% unless exclude_points["#{key}"] && exclude_points["#{key}"].include?(k) %>
        <tr>
          <td width="72%" align="center"><b><%= k %></b></td>
          <td align="center"><%= v %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>