<!-- 红、绿图标信息模块（空调系统、漏水系统、消防系统） -->
<div class="panel panel-default panel3 warn-info">
  <div class="panel-heading"><%= points_key %></div>
  <div class="panel-body">
    <div class="">
      <% if points.present? && points["#{points_key}"].present? %>
        <% points["#{points_key}"].keys.each do |key, value| %>
          <div class="air_d_grey col-sm-3" align="left">
            <div class="info-row" style="overflow:hidden;">
              <span class="warning-name"><%= key %></span>
              <span class="warning-icon"><%= warning_status value %></span>
            </div>
            <br>
          </div>
        <% end %>
      <% else %>
        <div class="text-center">暂无数据</div>
      <% end %>
    </div>
  </div>
</div>
