<div class="panel panel-default panel3 warn-info">
  <div class="panel-heading"><%= points_key %></div>
  <div class="panel-body">
    <div class="">
      <% if points.present? && points["#{points_key}"].present? %>
        <% points["#{points_key}"].keys.each_with_index do |key, index| %>
          <% if index % 4 == 0 %>
            <div class="air_d_grey col-sm-3" align="left">
          <% end %>
            <div class="info-row" style="overflow:hidden;">
              <span class="warning-name"><%= key %></span>
              <span class="warning-icon"><%= warning_status points["#{points_key}"][key] %></span>
            </div><br>
          <% if index%4 == 3 %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <div class="text-center">暂无数据</div>
      <% end %>
    </div>
  </div>
</div>