<div id="wrapper">
	<!-- 左侧导航栏部分 -->
	<nav class="navbar-default navbar-static-side" role="navigation">
		<div class="sidebar-collapse">
			<ul class="nav metismenu" id="side-menu">
				<li class="nav-header">
					<div class="dropdown profile-element"> <span>
						<%=image_tag  "profile_small.jpg", class:"img-circle" %>
					</span>
					<a data-toggle="dropdown" class="dropdown-toggle" href="#">
						<span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Ending Jason</strong>
						</span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span> </span> </a>
						<ul class="dropdown-menu animated fadeInRight m-t-xs">
							<li><a href="#">Profile</a></li>
							<li><a href="#">Contacts</a></li>
							<li><a href="#">Mailbox</a></li>
							<li class="divider"></li>
							<li><a href="#">Logout</a></li>
						</ul>
					</div>
					<div class="logo-element">
						IN+
					</div>
				</li>
				<li>
					<a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">主界面</span><span class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse">
						<li><a href="#">温湿度</a></li>
						<li><a href="#">精密空调</a></li>
						<li><a href="#">漏水检测</a></li>
						<li><a href="#">机柜温度</a></li>
					</ul>
				</li>
				<li>
					<a href="#"><i class="fa fa-diamond"></i> <span class="nav-label">动力</span><span class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse">
						<li><a href="#">配电</a></li>
						<li><a href="#">UPS</a></li>
						<li><a href="#">配电柜</a></li>
						<li><a href="#">电池</a></li>
						<li><a href="#">机柜动力</a></li>
						<li><a href="#">发电机</a></li>
					</ul>
				</li>
				<li>
					<a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">环境</span><span class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse">
						<li><a href="#">Flot Charts</a></li>
						<li><a href="#">Morris.js Charts</a></li>
					</ul>
				</li>
				<li>
					<a href="#"><i class="fa fa-envelope"></i> <span class="nav-label">联动</span><span class="label label-warning pull-right">16/24</span></a>
					<ul class="nav nav-second-level collapse">
						<li><a href="#">Inbox</a></li>
						<li><a href="#">Email view</a></li>
					</ul>
				</li>
				<li>
					<a href="#"><i class="fa fa-pie-chart"></i> <span class="nav-label">安全</span> <span class="label label-primary pull-right">NEW</span> </a>
				</li>
				<li>
					<a href="#"><i class="fa fa-flask"></i> <span class="nav-label">远程</span></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-edit"></i> <span class="nav-label">能效</span><span class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse">
						<li><a href="#">全年能耗</a></li>
						<li><a href="#">精密空调</a></li>
						<li><a href="#">漏水检测</a></li>
						<li><a href="#">机柜温度</a></li>
					</ul>
				</li>
				<li>
					<a href="#"><i class="fa fa-desktop"></i> <span class="nav-label">部署</span>  <span class="pull-right label label-primary">SPECIAL</span></a>
					<ul class="nav nav-second-level collapse">
						<li><a href="#">Contacts</a></li>
						<li><a href="#">Profile</a></li>
					</ul>
				</li>
				<li class="active">
					<a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">报表</span><span class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse">
						<li><a href="#">Search results</a></li>
						<li><a href="#">Lockscreen</a></li>
						<li class="active"><a href="empty_page.html">Empty page</a></li>
					</ul>
				</li>
				<li>
					<a href="#"><i class="fa fa-globe"></i> <span class="nav-label">告警记录</span><span class="label label-info pull-right">NEW</span></a>
					<ul class="nav nav-second-level collapse">
						<li><a href="#">Notification</a></li>
						<li><a href="#">Nestable list</a></li>
					</ul>
				</li>
				<li class="special_link">
					<a href="#"><i class="fa fa-database"></i> <span class="nav-label">Package</span></a>
				</li>
			</ul>
		</div>
	</nav>
	<!-- 左侧导航栏部分 end-->
	<!-- 右侧内容页 -->
	<div id="page-wrapper" class="gray-bg">
		<div class="row border-bottom">
			<nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
				<!-- 左侧导航栏收起按钮 -->
				<div class="navbar-header">
					<a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
					<form role="search" class="navbar-form-custom" action="search_results.html">
						<div class="form-group">
							<input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
						</div>
					</form>
				</div>
				<!-- 左侧导航栏收起按钮  end-->
				<!-- 右上角消息提示部分 -->
				<ul class="nav navbar-top-links navbar-right">
					<li>
						<span class="m-r-sm text-muted welcome-message">Welcome to INSPINIA+ Admin Theme.</span>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
							<i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
						</a>
						<ul class="dropdown-menu dropdown-messages">
							<li>
								<div class="dropdown-messages-box">
									<a href="#" class="pull-left">
										<%=image_tag  "profile_small.jpg", class:"img-circle" %>
									</a>
									<div class="media-body">
										<small class="pull-right">46h ago</small>
										<strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
										<small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
									</div>
								</div>
							</li>
							<li class="divider"></li>
							<li>
								<div class="dropdown-messages-box">
									<a href="profile.html" class="pull-left">
										<%=image_tag  "profile_small.jpg", class:"img-circle" %>
									</a>
									<div class="media-body ">
										<small class="pull-right text-navy">5h ago</small>
										<strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
										<small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
									</div>
								</div>
							</li>
							<li class="divider"></li>
							<li>
								<div class="dropdown-messages-box">
									<a href="profile.html" class="pull-left">
										<%=image_tag  "profile_small.jpg", class:"img-circle" %>
									</a>
									<div class="media-body ">
										<small class="pull-right">23h ago</small>
										<strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
										<small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
									</div>
								</div>
							</li>
							<li class="divider"></li>
							<li>
								<div class="text-center link-block">
									<a href="mailbox.html">
										<i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
									</a>
								</div>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
							<i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
						</a>
						<ul class="dropdown-menu dropdown-alerts">
							<li>
								<a href="mailbox.html">
									<div>
										<i class="fa fa-envelope fa-fw"></i> You have 16 messages
										<span class="pull-right text-muted small">4 minutes ago</span>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="profile.html">
									<div>
										<i class="fa fa-twitter fa-fw"></i> 3 New Followers
										<span class="pull-right text-muted small">12 minutes ago</span>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="grid_options.html">
									<div>
										<i class="fa fa-upload fa-fw"></i> Server Rebooted
										<span class="pull-right text-muted small">4 minutes ago</span>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<div class="text-center link-block">
									<a href="notifications.html">
										<strong>See All Alerts</strong>
										<i class="fa fa-angle-right"></i>
									</a>
								</div>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-sign-out"></i> Log out
						</a>
					</li>
				</ul>
				<!-- 右上角消息提示部分 end-->
			</nav>
		</div>
		<!-- 面包屑部分 -->
		<div class="row wrapper border-bottom white-bg page-heading">
			<div class="col-sm-4">
				<h2>This is main title</h2>
				<ol class="breadcrumb">
					<li>
						<a href="#">This is</a>
					</li>
					<li class="active">
						<strong>Breadcrumb</strong>
					</li>
				</ol>
			</div>
			<div class="col-sm-8">
				<div class="title-action">
					<a href="" class="btn btn-primary">This is action area</a>
				</div>
			</div>
		</div>
		<!-- 面包屑部分 end-->
		<!-- 右侧中间内容部分 -->
		<div class="wrapper wrapper-content">
			<div class="middle-box text-center animated fadeInRightBig">
				<h3 class="font-bold">This is page content</h3>
				<div class="error-desc">
					You can create here any grid layout you want. And any variation layout you imagine:) Check out
					main dashboard and other site. It use many different layout.
					<br/><a href="#" class="btn btn-primary m-t">Dashboard</a>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="pull-right">
				10GB of <strong>250GB</strong> Free.
			</div>
			<div>
				<strong>Copyright</strong> Example Company &copy; 2014-2015
			</div>
		</div>
		<!-- 右侧中间内容部分  end-->
	</div>
	<!-- 右侧内容页 end-->
</div>