.switchery {
	height: 20px;
	width: 35px;
	small {
		height: 20px;
		width: 20px;
	}
}
.modal-dialog {
	width: 1000px;
	padding-top: 5%;
}
.footable-row-detail-row {
	line-height: 2.1em;
	.footable-row-detail-name {
		padding-right: 10px;
	}
}

.rooms-ibox-title {
	min-height: 66px;
	.ibox-icon {
		line-height: 30px;
	}
}
.sub-btn {
	margin-right: 35px;
	margin-top: 20px;
}