<div class="col-md-12 p-xs animated fadeInRightBig">
	<div class="panel panel-default" id="left">
		<div class="panel-heading text-center text-muted">panel-head</div>
		<div class="panel-body"  id="user_index">
			<h1>panel-body</h1>
		</div>
	</div>
</div>

<div class="col-md-12 p-xs animated fadeInRightBig">
	<div class="col-xs-12 left mblock">
		<h1>mblock</h1>
	</div>
</div>