<div class="row">
  <div class="col-xs-12">
    <div class="row-fluid">
      <ul class="ace-thumbnails">
        <% @pics.each do |pic|%>
          <li class="main-images-list col-sm-2">
            <%= link_to "/monitor/#{pic}", title: pic do %>
              <%= image_tag "/monitor/#{pic}", :size => "150x150" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>