<div class="row">
  <div class="col-xs-12">
    <div class="row-fluid">
      <ul class="ace-thumbnails">
        <% 10.times do %>
          <li class="main-images-list col-sm-2">
            <a href="/monitor/test2.jpg" data-rel="colorbox">
              <img alt="150x150" src="/monitor/test2.jpg" style="width: 150px; height: 150px;" />
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>