<div class="text-center fadeInRightBig clearfix">
  <div class="col-xs-8 col-xs-offset-2">
    <% if @attachment.present? %>
      <%= image_tag @attachment.image, class: "img-responsive", width: "100%" %>
    <% else %>
      <div class="text-danger">还未上传展示图</div>
    <% end %>
  </div>
</div>

<div id="room-alarm-container" class="room-alarm-container panel">
  <div class="panel-heading">告警信息<i id="alarm-container-switch" class="pull-right glyphicon glyphicon-menu-down"></i></div>
  <div class="panel-body">
    <% @points.each do |point| %>
      <div class="air_d_grey col-sm-3" align="left">
        <%= link_to room_device_path(room_id: @room.id, id: point.device.id) do %>
        <div class="info-row">
          <span class="warning-name"><%= point.name %></span>
          <span class="warning-icon"><%= warning_status point.value %></span>
        </div>
        <br>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
