/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_self
 *= require ./frame/animate
 *= require ./frame/chosen
 *= require ./frame/font-awesome
 *= require ./frame/footable.core
 *= require ./frame/style
 *= require ./frame/switchery
 *= require ./application/sweetalert
 *= require ./frame/toastr.min
 *= require_tree ./admin/.
 *= require global
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  -webkit-text-stroke-width: 0.2px;
}
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1466172817_4551675.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1466172817_4551675.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1466172817_4551675.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1466172817_4551675.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1466172817_4551675.svg#iconfont') format('svg'); /* iOS 4.1- */
}
                    
.iconfont {
  font-size: 12px!important;
}
