@import "variables";
html, body{
	background-color: $body-bg;
}
.mblock{
	padding: 15px;
	background-color: #fff;
	box-shadow: 0px 1px 1px 1px rgba(181, 181, 181, 1);
	margin-bottom: 20px;
	&:before{
		content: " ";
		display: table;
	}
}
.panel{
	box-shadow: 0px 1px 1px 1px rgba(181, 181, 181, 1);
	border: none;
}
.panel-default > .panel-heading{
	border-color: transparent;
}
//主要内容背景
.eagle-gray-bg{
	background-color: #d9d9d9;
}