@import "variables";
html, body{
	height: 100%;
	background-color: $body-bg;
}
.block{
	padding: 15px;
	background-color: #fff;
	box-shadow: 0px 1px 1px 1px rgba(181, 181, 181, 1);
	margin-bottom: 20px;
}
.panel{
	box-shadow: 0px 1px 1px 1px rgba(181, 181, 181, 1);
	border: none;
}
.panel-default > .panel-heading{
	border-color: transparent;
}