/**后台管理页面与前台界面共用全局样式**/

body {
  background: #33343d;
	//background-color: rgba(61,62,71,255);
}

li.main-images-list {
	margin: 10px 0;
	list-style: none;
}
/**无title背景块**/
.mblock{
	padding: 15px;
	background-color: #fff;
	box-shadow: 0px 1px 1px 1px rgba(181, 181, 181, 0.6);
	margin-bottom: 20px;
	&:before{
		content: " ";
		display: table;
	}
}
/**有title背景块**/
.panel{
	box-shadow: 0px 1px 1px 1px rgba(181, 181, 181, 0.8);
	border: none;
	.panel-heading{
		padding: 5px 15px;
	}
}
.panel-default > .panel-heading{
	border-color: transparent;
	i{
		line-height: 18px;
		color: #333;
	}
}
.eagle-content{
	margin-top: 60px;
	padding: 20px 10px 40px 10px;
	.p-xs{
		padding: 0 10px !important;
	}
}
//数据单位样式
.unit{
	font-size: 10px;
	color: #0178D6;
}
//toastr
#toast-container{
	.toast-error:before, .toast-success:before, .toast-warning:before, .toast-info:before{
		content: " ";	
	}
}

.btn-active {
	border: #666 solid 1px;
	background: #666!important;
}

.fixed-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 60px;
  z-index: 2333;
}
//报表
#pointContent {display: none;}
#reportsContent {
  ul, li {
    list-style: none;
  }
  li.parent {
    height: 34px;
    line-height: 34px;
    background: #3d5163;
    padding: 0 0 0 10px;
    margin-bottom: 5px;
    a {
    	color: #fff;
    }
  }
  li.child {
  	height: 30px;
  	line-height: 30px;
  	a {
  		color: #666;
  		&.active {
  			color: red;
  		}
  	}
  }
}