// Place all the styles related to the power controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//power/ups.scss
.power__ups{
	.ups-table1{
		padding-right: 0;
		.ups-top{
			padding: 30px 15px 0 30px;
		}
		.ups-middle1{
			padding-left:30px; 
		}
		.ups-same{
			th,td{
				text-align: center;
				line-height: 0.2;
			}
		}
	}
	.ups-table2{
		padding: 40px 15px 0 0;
		.ups-middle2{
			position: absolute;
			float: left;
			th,td{
				text-align: center;
				line-height: 0.1;
			}
		}
	}
}
//power/distrib.scss
.power__distrib{
	.my-pic{
		padding: 20px 0 40px;
		position: relative;
	}
	.my-left{
		position: absolute;
		top:60px;
		left: 280px;
	}
	.my-right{
		position: absolute;
		top :60px;
		right: 280px;
	}
	.my-table{
		width: 20%;
		th,td{
			text-align: center;
			line-height: 0.15;
		}
	}
}
//power/cabinet.scss
.power__cabinet{
	.cabinet-table{
		width: 80%;
		th,td{
			text-align: center;
			line-height: 0.15;
		}
	}
}

.air_tab4  {
  text-align:center;
  .air_s1 {
    border:1px solid #E0E1E1;
    border-radius:3px;
    background-color:#EBECEC;
    padding:10px auto;
    margin:20px 24px;
    width:20%;
  }
  .air_s2 {
    border-left:1px solid #E0E1E1;
    padding:10px auto;
    margin-left:20px;
  }
}


.water_tab {
  padding:0 0 20px 0;
  .water_g {
    border:1px solid #E0E1E1;
    margin-bottom:20px;
  }
}
 .grey_d {
    background-color:#EBECEC;
    padding:5px 3%;
  }
  .grey_d1 {
    border:1px solid #E0E1E1;
    border-radius:5px 0 0 5px;
  }
  .grey_d2 {
    border:1px solid #E0E1E1;
    border-radius:0 5px 5px 0;
    color:blue;
  }
  .grey_d3 {
    border:1px solid #E0E1E1;
    border-radius:5px 0 0 5px;
    margin-left:10%;
  }
  .grey_d4 {
    border:1px solid #E0E1E1;
    border-radius:0 5px 5px 0;
    color:blue;
  }
.water_tab1 {
  padding:0px;
  .table1 {
    margin-bottom:0px;
    .open1 {
      color:#4A8CF6;
    }
    .close1 {
      color:#EF6FB5;
    }
  }
}
.panel3 {
  margin-top:20px;
  .air_d_grey {
    .span1 {
      margin:10px auto;
    }
    .grey_d0 {
      background-color:#EBECEC;
      padding:5px 20px;
    }
  }
}
