a,
a:active,
a:focus,
a:hover,
a:visited {
  color: #676a6c;
}
.table-content {
  margin-top: 10px;
}
.room-alarm-container {
  height: 190px;
  left: 20px;
  right: 20px;
  bottom: 26px;
  position: absolute;
}
.panel-heading {
  height: 32px;
  background-color: #f3f3f3;
}
.glyphicon {
  cursor: pointer;
}
.info-row {
  overflow: hidden;
  .warning-name {
    padding-left: 16px;
  }
  .warning-icon {
    padding-right: 16px;
  }
}
