.table-content {
  margin-top: 10px;
}
.room-alarm-container {
  height: 190px;
  left: 20px;
  right: 20px;
  bottom: 26px;
  position: absolute;
}
.panel-heading {
  height: 32px;
  background-color: #f3f3f3;
}
.glyphicon {
  cursor: pointer;
}
