<div id="main" style="height:400px"></div>
<div class="data" data-url=<%= data %>></div>
<div class="time" data-url=<%= time %>></div>
<div class="name" data-url=<%= name %>></div>

<script type="text/javascript">
    var reportsData = $(".data").data("url");
    var reportsTime = $(".time").data("url");
    var reportsName = $(".name").data("url");
    // 使用
    require(
        [
            'echarts',
            'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
        ],
        function (ec) {
          // 基于准备好的dom，初始化echarts图表
          var myChart = ec.init(document.getElementById('main'));
          var option = {
            tooltip: {
                show: true
            },
            legend: {
                data:[reportsName]
            },
            xAxis : [
                {
                    type : 'category',
                    data : reportsTime
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
              {
                "name":reportsName,
                "type":"bar",
                "data": reportsData
              }
            ]
          };
        // 为echarts对象加载数据
        myChart.setOption(option);
      }
    );
</script>