// Place all the styles related to the pem controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pem__aircondition{
  .energy1 {
    background:transparent url('bulb.jpg')  50% 50% no-repeat;
    background-size:36% 40%;
  }
  .energy2 {
    background:transparent url('house.jpg') 49.5% 50% no-repeat;
    background-size:36% 40%;
  }
  .energy3 {
    background:transparent url('bulb2.jpg') 50% 50% no-repeat;
    background-size:36% 40%;
  }
}

//告警样式
.warning-icon {
  position: relative;
}
.warning-icon .warning {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  top: 7px;
  right: 10px;
  &.red {
    background: red;
  }
  &.green {
    background: green;
  }
}
.warning-name {
  width: 80%;
  height: 34px;
  line-height: 34px;
  padding-left: 5px;
  background: #eee;
  display: block;
  float: left;
  font-weight: bold;
}
.warning-icon {
  width: 20%;
  float: left;
  height: 34px;
  line-height: 34px;
  text-align: center;
  display: block;
  background: #eee;
}

//覆盖logo的背景
.logo-wrapper {
  background: #33343d!important;
}

#temperatureImg {
  display: block;
  margin: 0 auto;
}

//电流数据效果
.xc-status {height: 20px; width: 20px; border-radius: 50%; display: block; margin: 0 auto;}
.xc-status.green {background: green;}
.xc-status.gray {background: gray;}
.xc-danger {color: red!important; font-weight: bold; font-size: 20px;}